<div class="console" style="background-color: black; color: white;">
  <%= session.inspect %>
  <br>
  <br>
  <br>
</div>

<script>
  $(document).ready(function (e) {
    /*(function myLoop(i) {
     setTimeout(function () {
     $('.console').append("</br>");
     $('.console').append(i);
     (function myLoop2(x) {
     setTimeout(function () {
     $('.console').append(".");
     if (--x) {
     myLoop(x);
     }
     }, 300);
     })(20);
     if (--i) {
     myLoop(i);
     }
     }, 3000);
     })(10);
     */
    var cars = ["getting facebook data",
      "getting goole data",
      "getting instagram data",
      "getting twitter data",
      "getting instagram data",
      "getting linked in data",
      "getting outlook data",
      "getting contacts data",
      "getting images data",
      "getting video data",
      "getting messages data",
      "getting whatsapp data",
      "getting icloud data",
      "getting cellphone data",
      "getting browser data",
      "getting personale information data",
      "getting address data",
      "getting emails data",
      "SENDING DATA"
    ];
    var counter = 0;
    for (var i = 0; i < cars.length; i++) {
      (function (t) {
        window.setTimeout(function () {
          //$('.console').append("done");
          $('.console').append("</br>");
          $('.console').append(cars[counter]);
          for (var x = 0; x < Math.floor(Math.random() * 1000) + (Math.floor(Math.random() * 100) + 10); x++) {
            (function (t) {
              window.setTimeout(function () {
                $('.console').append('.');
              }, t * 50);
            }(x));
          }
          counter = counter + 1;
          window.scrollTo(0, document.body.scrollHeight);
        }, t * 500);
      }(i));
    }
    $('.console').append('THANK YOU ALEJANDRA, ALL YOUR INFORMATION HAS BEEN SENT, HAVE A NICE DAY');
  });
</script>